<div class="container" *ngIf="movieDetails">
  <div class="content__container">
    <div class="content">
      <div class="content__info">
        <h1 class="title">{{ movieDetails.title }}</h1>
        <h4 class="original-title">{{ movieDetails.original_title }}</h4>
        <p class="year">Ano: {{ movieDetails.release_date | date : "yyyy" }}</p>
        <p class="runtime">Duração: {{ movieDetails.runtime }} minutos</p>
        <div class="genres">
          <span *ngFor="let genre of movieDetails.genres" class="genre">
            {{ genre.name }}
          </span>
        </div>
        <p class="score">
          ⭐ {{ movieDetails.vote_average | number : "1.1-1" }}<span>/10</span>
        </p>
        <p class="overview">{{ movieDetails.overview }}</p>
        <div class="buttons">
          <button>Adicionar aos favoritos</button>
          <a
            *ngIf="movieVideos"
            [href]="
              'https://www.youtube.com/watch?v=' + movieVideos.results[0].key
            "
            target="_blank"
            ><button>Assista ao Trailer</button></a
          >
        </div>
      </div>
      <div class="content__img-video">
        <img [src]="movieDetails.poster_path" alt="" />
      </div>
    </div>
  </div>
</div>
