.container {
  position: relative;
  header {
    .menu-bar {
      position: fixed;
      z-index: 5;
      width: 100vw;
      display: flex;
      gap: 50px;
      justify-content: center;
      height: 50px;
      padding: 10px;
      background-color: rgb(21, 21, 21);

      .menu-buttons {
        display: flex;
        gap: 15px;
      }
    }
  }
  main {
    display: flex;
    .search-filter {
      position: fixed;
      left: 0;
      top: 50px;
      height: 100vh;
      z-index: 4;
      min-width: 250px;
      background-color: rgb(41, 41, 41);
      padding: 15px;

      .filter-bar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;

        .searchInput {
          padding: 5px;
          font-size: 1rem;
          border-width: 1px;
          border-radius: 3px;
          border-style: solid;
          background-color: rgb(41, 41, 41);
          color: #d4d4d4;
          border-color: #7d7d7d;
        }
      }
    }

    .content-list {
      position: absolute;
      left: 250px;
      top: 50px;
      width: calc(100vw - 270px);
    }
  }
}
