.container {
  header {
    .menu-bar {
      display: flex;
      gap: 50px;
      justify-content: center;
      height: 50px;
      padding: 10px;
      background-color: black;

      .menu-buttons {
        display: flex;
        gap: 15px;
      }
    }
  }
  main {
    display: flex;
    .search-filter {
      min-width: 250px;
      background-color: rgb(41, 41, 41);
      display: flex;
      flex-direction: column;
      justify-items: center;
      padding: 15px;

      .filter-bar {
        .filter-buttons {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .content-list {
      width: 100%;
      height: 100%;
    }
  }
}
