/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 35, 35);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  font-size: 1rem;
  font-family: Arial;
  border-width: 1px;
  color: #1d1d1d;
  border-color: #dcdcdc;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  text-shadow: inset 0px 1px 0px #ffffff;
  background: linear-gradient(#ededed, #dfdfdf);
  &:hover {
    background: linear-gradient(#d5d5d5, #ededed);
  }
}
